#header{
    border-radius:5%;
    background: linear-gradient(white, rgb(141, 226, 4));
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}
#BoxHeight{
    height: 20px;
}
#BoxWidth{
    width: 20px;
}
#botonLyRR,#botonLyRL{
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 10px;
}
#botonCerrar{
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 10px;
    display: none;
}
#botonLyRR:hover,#botonLyRL:hover,#botonCerrar:hover{
    background-color: yellow;
}
#ventanaLogin{
    background: linear-gradient(white, rgb(141, 226, 4));
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    
    top: 15%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    max-width: 450px;
    min-width: 320px;
    
    width: 100%;
    z-index: 999;
}
#entradaLogin,#entradaRegister{
    width: 100%;
}

#alinearFin{
    width: max-content;
    min-width: 170px;
    align-content: flex-end;
    align-items: flex-end;
    border: white;
}
#navButtons:hover{
    font-size: xx-large;
}
#navButtons{
    font-size: x-large;
}
#botonRegistrar,#botonIniciar,#botonCancelar{
    background-color: white;
    border-radius: 20px;
}
#botonRegistrar:hover,#botonIniciar:hover,#botonCancelar:hover{
    background-color: greenyellow;
}
